// Add Book Form

#addBook {
	background: #eee;
	border-radius: 10px;
	float: left;
	margin: 40px auto;
	padding: 19px;
	width: 400px;

	.form-control {

		&.error {
			border: solid 1px tint(red, 40%);
		}
	}

	.preview-image {
		max-width: 200px;
	}
}

.fileDrop {
	border: dashed 2px #999;

	.preview-image {
		max-height: 105px;
		max-width: 80px;
	}

	// modifiers
	&.hover {
		// background-color: #;
		box-shadow: inset 0 0 10px #999;
	}

	&.filled {
		border: solid 2px #ddd;
	}
}