// Add Book Form

#addBook {
	background: #eee;
	border-radius: 10px;
	max-width: 400px;
	margin: 40px auto;
	padding: 19px;

	.form-control {

		&.error {
			border: solid 1px tint(red, 40%);
		}
	}

	#upload {
		border: dashed 2px #999;
	}

	.preview-image {
		max-width: 200px;
	}
}