// Book

.book-contanier {

	@include clearfix;
	
	.cover {
		float: left;
		margin-right: 15px;

		img {
			max-height: 105px;
			max-width: 80px;
		}
	}

	ul {
		list-style: none;
	}

	.title {
		@include font-size(18);

		font-weight: bold;
	}
	
	.author {}
	.releaseDate {}
	.keywords {}
}