// Book

#books {
	float: left;
}

.book-contanier {
	@include clearfix;      

	margin: 15px 0 0;
	filter: alpha(opacity=50);

	.cover {
		float: left;
		margin-right: 15px;

		img {
			max-height: 105px;
			max-width: 80px;
		}
	}

	.container {
		float: left;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.title {
		@include font-size(18);

		font-weight: bold;
	}
	
	.author {}
	.releaseDate {}
	.keywords {}

	&:first-child {
		margin-top: 0;
	}
}